<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ZWH</key>
		<string>展位号</string>
	</dict>
	<dict>
		<key>SZZG</key>
		<string>所在展馆</string>
	</dict>
	<dict>
		<key>CZXMMC_CN</key>
		<string>项目名称</string>
	</dict>
	<dict>
		<key>PPMC</key>
		<string>品牌名称</string>
	</dict>
	<dict>
		<key>XMSSHY</key>
		<string>所属行业</string>
	</dict>
	<dict>
		<key>GJ_CN</key>
		<string>所属国家</string>
	</dict>
	<dict>
		<key>SSQ</key>
		<string>所在地区</string>
	</dict>
	<dict>
		<key>SSZT</key>
		<string>所属展团</string>
	</dict>
	<dict>
		<key>YZBM</key>
		<string>邮政编码</string>
	</dict>
	<dict>
		<key>EMAIL</key>
		<string>E－mail</string>
	</dict>
	<dict>
		<key>WZ</key>
		<string>网址</string>
	</dict>
	<dict>
		<key>DWMC_CN</key>
		<string>项目单位</string>
	</dict>
	<dict>
		<key>CZ</key>
		<string>电话</string>
	</dict>
	<dict>
		<key>DH</key>
		<string>手机号码</string>
	</dict>
	<dict>
		<key>XXDZ_CN</key>
		<string>详细地址</string>
	</dict>
	<dict>
		<key>TZYXMS_CN</key>
		<string>项目/单位简介</string>
	</dict>
</array>
</plist>
