<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>PROJECTID</key>
		<string>项目号</string>
	</dict>
	<dict>
		<key>CNNAME</key>
		<string>项目名称</string>
	</dict>
	<dict>
		<key>danweimc</key>
		<string>单位名称</string>
	</dict>
	<dict>
		<key>INDUSTRY</key>
		<string>所属行业</string>
	</dict>
	<dict>
		<key>AREA</key>
		<string>所在地区</string>
	</dict>
	<dict>
		<key>PATENTFLAG</key>
		<string>是否申请专利</string>
	</dict>
	<dict>
		<key>PATENTNO</key>
		<string>专利号</string>
	</dict>
	<dict>
		<key>IDENTIFYFLAG</key>
		<string>是否鉴定</string>
	</dict>
	<dict>
		<key>OWNERSHIP</key>
		<string>成果权属</string>
	</dict>
	<dict>
		<key>SOURCE</key>
		<string>项目来源</string>
	</dict>
	<dict>
		<key>STAGE</key>
		<string>项目阶段</string>
	</dict>
	<dict>
		<key></key>
		<string>项目合作形式</string>
	</dict>
	<dict>
		<key>CAPITAL</key>
		<string>资金需求额</string>
	</dict>
	<dict>
		<key>CONTACTS</key>
		<string>联系人</string>
	</dict>
	<dict>
		<key>PHONE</key>
		<string>联系电话</string>
	</dict>
	<dict>
		<key>ZIP</key>
		<string>邮政编码</string>
	</dict>
	<dict>
		<key>EMAIL</key>
		<string>E－Mail</string>
	</dict>
	<dict>
		<key>FAX</key>
		<string>传真</string>
	</dict>
	<dict>
		<key>ENADDRESS</key>
		<string>英文地址</string>
	</dict>
	<dict>
		<key>ADDRESS</key>
		<string>地址</string>
	</dict>
	<dict>
		<key>INTRODUCTION</key>
		<string>单位简介</string>
	</dict>
	<dict>
		<key>xmjs</key>
		<string>项目简介</string>
	</dict>
</array>
</plist>
